
*_bkp/
*_bak/
*.bkp/
*.bak/
**/.venv/
.venv/
.task/

venv/
target/
results/
*results/
results_bak*/
flamegraph.svg
cargo-flamegraph.stacks
last_chromatograms.json

plot_results/
results_bak/*.csv
results*bak/*.csv
